<!DOCTYPE html>
<html>
  <head>
    <title>Finstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      '<% if current_user %>'
        window.current_user = '<%= current_user.id %>'
      '<% else %>'
        window.current_user = null
      '<% end %>'
    </script>
    <SCRIPT language="JavaScript">
      <!--
      function silentErrorHandler() {return true;}
      window.onerror=silentErrorHandler;
      //-->
    </SCRIPT>
    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "finstagram",
        upload_preset: "a4igq5jf",
        inline_container: "#upload-holder",
        theme: "minimal",
         cropping: 'server',
        cropping_aspect_ratio: 1,
        multiple: false
      };
    </script>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCXVOrACgaD0stq-rqo8SxME9BG2CS9cFc" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
